
.ant-calendar-picker {
  margin-right: 20px!important;
}
.style_air__menuLeft__logo__3ZKhW img {
  float: left;
  margin-top: 0px;
}
.style_air__menuLeft__logo__name__w3dDc {
  font-weight: 900;
  color: #fff;
  font-size: 21px;
  margin-left: 2.66rem;
  padding-top: 5px;
}
